body {
	background-color: #9fc4a4;
	color: #2b3e2a;
	letter-spacing: 2px;
}

h1, h2, h3 {
	color: #2b3e2a;
}

p {
	
	text-indent: 50px;
}

hr {
	border-color: #2b3e2a;
}

.active {
	color: #e03f3c;
}

.well {
	background-color: #fcf8f7;
	margin-top: 10px; right: 50px; bottom: 10px; left: 50x;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fcf8f7;
    background-color: #e03f3c;
}

.nav-pills > li > a {
	color: #e03f3c;
}

.nav-pills > li > a:hover {
	background-color: #fcf8f7;
}

.ul-sidenav {
	margin-top: 10px;
}

.navbar {
	background-color: #00191f;
}
.navbar-inverse .navbar-nav> li > a, .navbar-inverse .navbar-brand {
	color: #a9a9a9;
}