body {
	background-color: #004040;
	color: #004040;
	letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
	color: #4C083A;
}

p {
	
	text-indent: 50px;
}

hr {
	border-color: #4C083A;
}

.active {
	color: #d81e5b;
}

.well {
	background-color: #E6E6E6;
	margin-top: 10px; right: 50px; bottom: 10px; left: 50x;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #373F27;
    background-color: #d81e5b;
}

.nav-pills > li > a {
	color: #d81e5b;
}

.nav-pills > li > a:hover {
	background-color: #fcf8f7;
}

.ul-sidenav {
	margin-top: 10px;
}

.navbar {
	background-color: #00191f;
}
.navbar-inverse .navbar-nav> li > a, .navbar-inverse .navbar-brand {
	color: #a9a9a9;
}